body {
    font-family: 'OpenDyslexic', sans-serif;
}

.text-shadow-bold {
    text-shadow: 2px 0 0 currentColor, -2px 0 0 currentColor;
}

.text-shadow-bold2{
    text-shadow: 1px 0 0 currentColor, -1px 0 0 currentColor;
}